@import url('https://fonts.cdnfonts.com/css/italiana');
@import url('https://fonts.googleapis.com/css?family=Lato');


.logo {

    font-family: Italiana;
    color: rgb(114, 17, 17);
    font-size: 65px;
    font-weight: 400;
    flex-shrink: 0;
}

.item-img {
    padding: 5px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

body {
    background-image: url(../img/Wave.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    /* z-index: 999; */
}

.head-province {
    color: black;
    font-style: italic;
}

.row {
    display: inline-block;
}

.home-pic {
    width: 165px;
    margin: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    align-items: center;
    /* position: relative; */
}

.card-price {
    color: #741D14;
    font-weight: 500;
    background-color: #D9D9D9;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

#img_logo {
    padding: 10px;
    height: 100px;
}


.price {
    float: right;
}

.add-btn {
    position: absolute;
    /* top: 8px; */
}

.ctn {
    position: relative;
    width: 100%;
}

.ctn .add-btn {
    position: absolute;
    top: 20%;
    left: 77%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #A1776C;
    color: white;
    font-size: 16px;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.ctn .add-btn:hover {
    background-color: black;
}

/* == header =============================================== */
.top-banner {
    height: 36px;
    background: url('../img/top-banner.png'), lightgray -26.595px -241.213px / 105.462% 3555.555% no-repeat;
}

#div_search {
    display: flex;
    align-items: center;
}

#header_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header_nav a {
    padding: 15px;
    font-size: 24px;
    color: #741D14;
}

#header_nav a:hover{
    color: black;
}

#header_search {
    padding-left: 10px;
    background-color: #D9D9D9;
    vertical-align: middle;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 40px;
}

@media (max-width: 768px) {
    header {
        /* Adjust styles for smaller screens here */
        /* For example, you might want to stack the logo, search, and navigation items */
        display: flex;
        flex-direction: column;
    }

    #div_search {
        /* Adjust search bar styles for smaller screens */
        width: 50%;
        margin-top: 10px;
        /* Add some spacing between logo and search bar */
    }

    ul#header_nav {
        /* Adjust navigation styles for smaller screens */
        max-width: 100%;
        justify-content: flex-end;
    }

    #header_nav a {
        padding: 15px;
        font-size: 24px;
    }
    
    #province_img{
        display: none;
    }

    #product_grid{
        padding-left: 20px;
    }
}

/* == end header =============================================== */
