@import url('https://fonts.cdnfonts.com/css/italiana');
@import url('https://fonts.googleapis.com/css?family=Lato');


.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: auto;
    margin: 0 auto;
    background: #E7E7E7;
    background-image: url('../img/Wave.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    /* display: flex; */

    .top-banner{
        height: 36px;
        background: url('../img/top-banner.png'), lightgray -26.595px -241.213px / 105.462% 3555.555% no-repeat;
    }

    .nav-bar{
        width: 100%;
        height: 89px;
        display: flex;
        text-align: center;
        margin-left: 44px;
        margin-top: 14px;
        font-style: normal;
        line-height: normal;
        text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);

        .logo{    
            
            font-family: Italiana;
            color: rgb(114, 17, 17);
            font-size: 65px;
            font-weight: 400;
            flex-shrink: 0;
        }

        .page-bar{
            display: flex;
            padding-left: 23px;
            margin-top: auto;
            margin-bottom: auto;

            .cur-page{
                color: #741D14;
                font-family: Lato, sans-serif;
                font-size: 37px;
            }

            .icon{
                width: 41.333px;
                height: 39.956px;
                padding-left: 5px;
            }
        }

        
 
    }

    .content{
        display: inline-flex;
        width: 100%;

        .left-bar{
            top:2px;
            width: 222px;
            height: 472px;
            border-radius: 10px;
            background: #E9DFDD;
            align-items: center;
            border-color: #e4dbda;
            border-style:solid;
            position: sticky;
            

            & ul{
                list-style-type: none;
                & li{
                    font-size: 24px;
                    padding-bottom: 20px;   
                    padding-top: 20px;

                    & a{ 
                        text-decoration: none;
                    }

                    &.profile_cur a{
                        color: #B72347;
                        text-decoration-line: underline;
                        font-weight: 700; 
                    }
                    &.profile a{
                        color: #000;   
                    }
                    }
                }
            }
        }

        .vl{  
            width: 1px;
            margin-left: 25px;
            margin-right: 25px;
            background: #000;
            opacity: 0%;
        }
        .option-content{
            width: 100%;
            height:fit-content;
            min-height:  473px;
            margin: 0px 30px 0px 0px;
            border-radius: 5px;
            background: #FFF;

            & hr{
                margin: 10px;
                opacity: 50%;
            }
            .option-choice{
                width: 114px;
                font-size: 25px;
                padding-left: 15px;
                display: inline;
            }
            .option-name{
                width: 114px;
                font-size: 25px;
                padding-left: 15px;
            }

            .option-same{  

                & p{
                    color: #741D14;
                    font-family: Lato;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                & button{
                    margin: 10px;
                    padding: 15px 15px 15px 40px;
                    text-align: end;
                    position: relative;
                    background: #F00;
                    color: white;
                    border: none;
                    border-radius: 7px;
                    cursor: pointer;
                    transition: background 0.3s; 
                }

                /* & button:hover{
                    background: linear-gradient(to bottom, #F00, #FF4500);
                } */

                & button svg{
                    width: 23.31px;
                    height: 21.636px;
                    position: absolute;
                    left: 10px ;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .profile-img{
                margin-left: 30px;
                display: flex;
                & img{
                    height: 120px;
                }
                & input{
                    width: 127.435px;
                    height: 46px;
                    margin-top:auto;
                    margin-bottom: auto;
                    margin-left: 25px;
                    border: 1px solid #6A6A6A;
                    border-radius: 10px;
                    background-color: white;
                }
            }
            & form{
                margin: auto;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            .user-info{
                
                
                .username , .user-email{
                    display: flex;
                    margin-left: 50px;
                    height: 50px;
                    

                    & label{
                        margin: auto;
                        margin-left: 0px;
                        margin-right: 0px;
                        display: inline;
                        width:100px;
                        color: #741D14;
                        font-family: Lato;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-align: right;
                    }

                    
                }

                & input{
                    margin-left: 20px;
                    margin-right: 20px;
                    border-radius: 5px;
                }

                & a{
                    text-decoration: none;
                    margin: auto;
                    margin-left: 20px;
                }
                
            }

            .in-cart {
                display: inline-flex;
                flex-direction: row;
                width: 97%;
                border-radius: 10px;
                background: #FFF;
                align-items: center;
                margin-left: 20px;
            
                .item {
                    height: 100%;
                    text-decoration: none;
                    font-size: 20px;

                    .item_name {
                        margin-bottom: auto; 
                        margin-top: 0px;
                        text-decoration: none;
                        color: #741D14;
                        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    }
            
                    .item_price {
                        text-decoration: none;
                        color: #741D14;
                        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    }
                }
            
                & span {
                    margin-left: auto;
                }
            
                & a {
                    text-decoration: none;   
                    color: #741D14;
                    margin-left: auto;
                    margin-right: 0px; 
                    align-items: end;
                }
            }
            
        }
    }
    

    input[type="checkbox"]{
        border-radius: 5px;
        border: 2px solid #320F06;
        background: rgba(255, 255, 255, 0.00);
        width: 24.975px;
        height: 23.182px;
        flex-shrink: 0;

    }

    .item-img {
        padding: 5px;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
     }
 