@import url('https://fonts.cdnfonts.com/css/italiana');
@import url('https://fonts.googleapis.com/css?family=Lato');


.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    /* overflow: auto; */
    margin: 0 auto;
    overflow: hidden;
    background: #E7E7E7;
    display: block;
    overflow-y: scroll;
    flex: 1;
    flex-wrap: wrap;
    background-image: url('../img/Wave.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    .top-banner {
        height: 36px;
        background: url('../img/top-banner.png'), lightgray -26.595px -241.213px / 105.462% 3555.555% no-repeat;
    }

    .nav-bar {
        width: 100%;
        height: 89px;
        display: flex;
        text-align: center;
        margin-left: 44px;
        margin-top: 14px;
        font-style: normal;
        line-height: normal;
        text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);

        .logo {

            font-family: Italiana;
            color: rgb(114, 17, 17);
            font-size: 65px;
            font-weight: 400;
            flex-shrink: 0;
            text-decoration: none;

            &:hover {
                color:#441010;
            }
        }

        .page-bar {
            display: flex;
            padding-left: 23px;
            margin-top: auto;
            margin-bottom: auto;

            .cur-page {
                color: #741D14;
                font-family: Lato, sans-serif;
                font-size: 37px;
            }

            .icon {
                width: 41.333px;
                height: 39.956px;
                padding-left: 5px;
            }
        }



    }

    .content {
        display: inline-flex;
        width: 100%;

        .left-bar {
            width: 222px;
            height: 472px;
            border-radius: 10px;
            background: #E9DFDD;
            align-items: center;
            border-color: #e4dbda;
            border-style: solid;


            & ul {
                list-style-type: none;

                & li {
                    font-size: 24px;
                    padding-bottom: 20px;
                    padding-top: 20px;

                    &.profile {
                        color: #B72347;
                        font-weight: 700;
                        text-decoration-line: underline;
                    }

                    &.shop {
                        color: #000;
                    }
                }

            }
        }


        .option-content {
            width: 100%;
            height: 473px;
            margin: 0px 30px 0px 0px;
            border-radius: 5px;
            background: #FFF;

            & hr {
                margin: 10px;
                opacity: 50%;
            }

            .option-name {
                width: 114px;
                font-size: 25px;
                padding-left: 15px;

                & p {
                    color: #741D14;
                    font-family: Lato;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .profile-img {
                margin-left: 30px;
                display: flex;

                & img {
                    height: 120px;
                }

                & input {
                    width: 127.435px;
                    height: 46px;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: 25px;
                    border: 1px solid #6A6A6A;
                    border-radius: 10px;
                    background-color: white;
                }
            }

            & form {
                margin: auto;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            .user-info {


                .username,
                .user-email {
                    display: flex;
                    margin-left: 50px;
                    height: 50px;


                    & label {
                        margin: auto;
                        margin-left: 0px;
                        margin-right: 0px;
                        display: inline;
                        width: 100px;
                        color: #741D14;
                        font-family: Lato;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-align: right;
                    }


                }

                & input {
                    margin-left: 20px;
                    margin-right: 20px;
                    border-radius: 5px;
                }

                & a {
                    text-decoration: none;
                    margin: auto;
                    margin-left: 20px;
                }

            }
        }

        /* .his-bar{
            flex: 1;
            flex-wrap: wrap;
            width: 100%;
            height: 473px;
            margin: 0px 30px 0px 30px;
            border-radius: 5px;
            background: #cd9898;
        } */

        .his-content {
            flex: 1;
            flex-wrap: wrap;
            width: 100%;
            height: relative;
            margin: 0px 30px 0px 30px;
            border-radius: 10px;
            background: #FFF;
            font-family: Arial, Helvetica, sans-serif;
            
            .product-name {

                & span {
                    color: #ffffff;
                    background-color: #B72347;
                    padding: 0.6rem;
                    border-radius: 15px;
                    margin: 30px;
                }

            }

            .product-info {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin: auto;
                color: #6A6A6A;
                /* border-radius: 10px; */
                /* background-color: hsl(7, 14%, 89%); */

                & img.pd-img {
                    padding-top: 10px;
                    padding-left: 30px;
                    padding-right: 25px;
                    padding-bottom: 25px;
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    /* background-color: #A1776C; */
                }

                .product-text {
                    padding-left: 50px;

                    & span {
                        color: #B72347;
                    }

                    & h4 {
                        /* padding-top: 25px; */
                    }


                }


            }

            & button.button-1 {
                /* display: inline-block; */
                background-color: #B72347;
                border-radius: 8px;
                border-style: none;
                box-sizing: border-box;
                color: #FFFFFF;
                cursor: pointer;
                display: inline-block;
                font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 14px;
                font-weight: 500;
                height: 40px;
                line-height: 20px;
                list-style: none;
                margin-left: 88%;
                /* margin-right: 5%; */
                margin-top: 0%;
                margin-bottom: 10px;
                outline: none;
                padding: 10px 16px;
                position: relative;
                text-align: center;
                text-decoration: none;
                transition: color 100ms;
                vertical-align: baseline;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
            }

            & button.button-1:hover,
            & button.button-1:focus {
                background-color: #ead3cc;
                color: #B72347
            }


        }


    }

    .his-bar {
        display: inline-flex;
        width: 100%;
        background-color: #E7E7E7;

        .bar-content {
            /* flex: 1;
            flex-wrap: wrap; */
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            /* text-align: center; */
            width: 100%;
            height: 20px;
            margin: 0px 30px 30px 30px;
            border-radius: 20px;
            background: #ffffff;
            text-align: center;
            padding: 2rem 2rem;
        }

        .bar-content a {
            font-size: 1.6rem;
            color: rgb(0, 0, 0);
            /* padding: auto; */
            /* background-color: #6A6A6A; */
            /* padding: 2rem 2rem; */
            margin: 0px 30px 0px 30px;
        }

        .bar-content a:hover {
            color: #741D14;
        }

    }

    & footer {
        display: flex;
        flex: 1;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* background-color: black; */
        height: 250px;
        /* position: absolute;
        bottom:0;
        left:0;
        right:0; */
        /* height: 100px; */
    }

    .cart {
        font-size: 25px;
        padding-left: 20px;
        line-height: 50px;

        .all-item {
            width: 95%;
            height: 50px;
            margin: auto;
            margin-bottom: 10px;
            border-radius: 10px;
            background: #FFF;
        }

    }

    .trash {
        margin-right: 10px;
        padding: 30px;

        & button.trash-btn {
            margin: auto;
            background-color: :#B72347;
        }
    }

    .in-cart {
        display: flex;
        flex-flow: row wrap;
        width: 95%;
        border-radius: 10px;
        background: #FFF;
        align-items: center;
        margin: 10px 5% 10px 5%;

        .item {
            display: flex;
            flex-direction: column;

            & p {
                padding-left: 35px;
                text-decoration: none;
                font-size: 1.6rem;
                color: #741D14;
                font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }

            .custom-select {
                border-radius: 20px;
                height: 32px;
                width: 100px;
                margin: auto;
                text-align: center;
            }
        }

        & a {
            text-decoration: none;
            /* margin: auto; */
            margin-left: 20px;
            color: #741D14;
        }



    }

}

.item-img {
    padding: 5px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

body {
    background-image: url(../img/Wave.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    /* z-index: 999; */
}

.head-province {
    color: black;
    font-style: italic;
}

.row {
    display: inline-block;
}

.home-pic {
    width: 165px;
    margin: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    align-items: center;
    /* position: relative; */
}

.card-price {
    color: #741D14;
    font-weight: 500;
    background-color: #D9D9D9;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

#header_search {
    padding-left: 10px;
    background-color: #D9D9D9;
    vertical-align: middle;
    border: none;
    border-radius: 20px;
    width: 500px;
    height: 40px;
}

#img_logo {
    padding: 10px;
    height: 100px;
}

#div_search {
    display: flex;
    align-items: center;
}

#header_nav {
    display: flex;
    align-items: center;
}

.quantity {

    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #741D14;
    font-weight: 300;
}

button[class*=btn] {
    width: 30px;
    height: 30px;
    align-items: center;
    background-color: #f07a97;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.minus-btn img {
    margin-bottom: 3px;
}

.plus-btn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline: 0;
}

.total-box {
    width: 90%;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;

    .checkout-btn {
        background-color:#B72347;
        width: 150px;
        height: 50px;
        color:#E7E7E7;
        align-items: center;
        font-weight: bolder;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        border-radius: 6px;
        border: none;
        cursor: pointer
    }

    & button.checkout-btn:hover,
    & button.checkout-btn:focus {
        background-color: #ead3cc;
        color: #B72347
    }
}

nav#history_nav a {
    text-decoration: none;
    background-color: #a1291b;
    color: white;
    padding: 5px 16px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

nav#history_nav a:hover {
    background-color: #441010;
}

.his-ctn{
    position: relative;
    padding: 10px 30px 30px 30px;
    margin: 10px 30px 30px 30px ;
    background-color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}