<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./style/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>OTOP_Home</title> 
</head>

<header>
    <div class="top-banner"></div>
    <div class="row col-12">
        <div class="col-3" id="header_logo">
            <div class="logo ">OTOP</div>
        </div>
        <div class="col-lg-6" id="div_search">
            <input id="header_search" type="text" placeholder="Search here">
        </div>
        <nav class="col-3" id="header_nav">
            <a href="cart"><i class="fas fa-shopping-cart"></i></a>
            <a href="history"><i class="fas fa-history"></i></a>
            <a href="profile"><i class="fas fa-user"></i></a>
        </nav>
    </div> 
</header>

<body>
    <% product_data.forEach(function(item) { %>
        <h1><%= item.product_name.charAt(0).toUpperCase() + item.product_name.slice(1) %></h1>
    <% }) %>
</body>
</html> 