<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/login.css">
    <title>Login</title>
</head>
<body>
    
   <div class="container">
        <div id="main_container">
            <div id="header">
                <div class="top-banner"></div>
                <div class="nav-bar">
                    <div class="logo">OTOP</div>
                </div>
    
            </div>
    
            <div id="main_content">
                <div id="login-container">
                    <div id="login-inner-top">
                        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="43" viewBox="0 0 44 43" fill="none">
                            <path opacity="0.16" d="M1 36.3548C1 33.7055 2.08869 31.1648 4.02656 29.2915C5.96444 27.4181 8.59276 26.3657 11.3333 26.3657H32C34.7406 26.3657 37.3689 27.4181 39.3068 29.2915C41.2446 31.1648 42.3333 33.7055 42.3333 36.3548C42.3333 37.6795 41.789 38.9498 40.82 39.8865C39.8511 40.8232 38.5369 41.3494 37.1667 41.3494H6.16667C4.79638 41.3494 3.48222 40.8232 2.51328 39.8865C1.54434 38.9498 1 37.6795 1 36.3548Z" fill="black"/>
                            <path d="M1 36.3548C1 33.7055 2.08869 31.1648 4.02656 29.2915C5.96444 27.4181 8.59276 26.3657 11.3333 26.3657H32C34.7406 26.3657 37.3689 27.4181 39.3068 29.2915C41.2446 31.1648 42.3333 33.7055 42.3333 36.3548C42.3333 37.6795 41.789 38.9498 40.82 39.8865C39.8511 40.8232 38.5369 41.3494 37.1667 41.3494H6.16667C4.79638 41.3494 3.48222 40.8232 2.51328 39.8865C1.54434 38.9498 1 37.6795 1 36.3548Z" fill="#D9D9D9" stroke="black" stroke-width="2" stroke-linejoin="round"/>
                            <path d="M21.6667 16.3767C25.9469 16.3767 29.4167 13.0225 29.4167 8.88489C29.4167 4.74727 25.9469 1.39307 21.6667 1.39307C17.3865 1.39307 13.9167 4.74727 13.9167 8.88489C13.9167 13.0225 17.3865 16.3767 21.6667 16.3767Z" stroke="black" stroke-width="2"/>
                        </svg>
                        <p>Login</p>
                    </div>
                    <div style="width: 90%;">
                        <hr style="width: 100%; border: 1px solid #B72347; opacity: 0.5;">
                    </div>
                    <form method="post" action="/">
                        <div id="input-container">
                            <input type="text" name="login_username" id="login_username"  class="login-field" placeholder="Username" required>
                            <input type="password" name="login_password" id="login_password"  class="login-field" placeholder="Password" required>
                            <div id="forgot-container">
                                <a href="#">Forgot Password</a>
                            </div>
                            <button type="submit" id="login-button">Login</button>
                            <div id="new-account-container">
                                <a href="register">Create new account</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   </div>
<<<<<<< HEAD
    
   <% if (typeof(wrong)!="undefined"){ %>
        <script>alert("Please correctly enter your username and password")</script>
    <% } %>

=======
    <% if (typeof(wrong_pass)!="undefined"){ %>
        <script>alert("Please correctly enter your username and password")</script>
    <% } %>
    
>>>>>>> test-ejs
</body>
</html>