<!DOCTYPE html>
<html lang="en">
<head>
    <title> OTOP_Home </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/profile_shop.css">
</head>
<body>
    <div class="container">
        <div class="top-banner"></div>
        <div class="nav-bar">
            <a class="logo" href="home">OTOP</a>
            <div class="page-bar">
                <div class="cur-page"> > Profile </div>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 448 512">
                        <style> svg{fill:#741D14} </style>
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                    </svg>
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="left-bar">
                <ul class="option">
                    <li class="profile"><a href="profile">My Profile</a></li>
                    <li class="profile_cur"><a href="#">My Shop</a></li>
                </ul>
            </div>

            <div class="vl"></div>

            <div class="option-content">
                <div class="option-choice option-same">
                    <button onclick="location.href='add_product'">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.528"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12H20M12 4V20" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </svg>
                        Add a New Product
                    </button>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22" fill="none">
                            <path d="M19.4248 7.84324H3.88496C3.69177 7.84324 3.50649 7.772 3.36988 7.6452C3.23328 7.5184 3.15653 7.34643 3.15653 7.1671C3.15653 6.98778 3.23328 6.8158 3.36988 6.689C3.50649 6.5622 3.69177 6.49097 3.88496 6.49097H19.4248C19.618 6.49097 19.8033 6.5622 19.9399 6.689C20.0765 6.8158 20.1532 6.98778 20.1532 7.1671C20.1532 7.34643 20.0765 7.5184 19.9399 7.6452C19.8033 7.772 19.618 7.84324 19.4248 7.84324Z" fill="#FFF4F4"/>
                            <path d="M15.9672 18.7064H7.34258C7.03478 18.726 6.72587 18.6886 6.43375 18.5965C6.14164 18.5044 5.87212 18.3594 5.64084 18.1698C5.40956 17.9803 5.22111 17.7501 5.08642 17.4924C4.95173 17.2348 4.87348 16.9549 4.8562 16.669V7.2121C4.8562 7.03278 4.93295 6.8608 5.06955 6.734C5.20616 6.6072 5.39144 6.53597 5.58463 6.53597C5.77782 6.53597 5.9631 6.6072 6.09971 6.734C6.23632 6.8608 6.31306 7.03278 6.31306 7.2121V16.669C6.31306 17.0386 6.76954 17.3541 7.2843 17.3541H15.9089C16.4528 17.3541 16.8802 17.0386 16.8802 16.669V7.2121C16.8802 7.01843 16.963 6.8327 17.1106 6.69575C17.2581 6.55881 17.4582 6.48187 17.6669 6.48187C17.8755 6.48187 18.0756 6.55881 18.2231 6.69575C18.3707 6.8327 18.4536 7.01843 18.4536 7.2121V16.669C18.4363 16.9549 18.358 17.2348 18.2233 17.4924C18.0887 17.7501 17.9002 17.9803 17.6689 18.1698C17.4376 18.3594 17.1681 18.5044 16.876 18.5965C16.5839 18.6886 16.275 18.726 15.9672 18.7064ZM16.0837 6.98672C15.9877 6.98794 15.8924 6.97128 15.8034 6.93773C15.7145 6.90418 15.6337 6.85442 15.5657 6.79139C15.4978 6.72836 15.4442 6.65334 15.4081 6.57076C15.372 6.48818 15.354 6.39971 15.3553 6.31059V4.96733C15.3553 4.59771 14.8891 4.28218 14.3841 4.28218H8.95483C8.42065 4.28218 7.98359 4.59771 7.98359 4.96733V6.31059C7.98359 6.48991 7.90685 6.66189 7.77024 6.78869C7.63364 6.91549 7.44836 6.98672 7.25516 6.98672C7.06197 6.98672 6.87669 6.91549 6.74009 6.78869C6.60348 6.66189 6.52673 6.48991 6.52673 6.31059V4.96733C6.56434 4.40056 6.83951 3.86997 7.29332 3.48917C7.74714 3.10837 8.34354 2.90762 8.95483 2.9299H14.3549C14.9711 2.90032 15.575 3.09778 16.0352 3.47933C16.4953 3.86088 16.7746 4.39566 16.8122 4.96733V6.31059C16.8135 6.40013 16.7956 6.48903 16.7595 6.5721C16.7235 6.65518 16.67 6.73078 16.6023 6.79453C16.5345 6.85827 16.4538 6.90888 16.3648 6.94342C16.2757 6.97796 16.1802 6.99575 16.0837 6.99574V6.98672Z" fill="#FFF4F4"/>
                            <path d="M9.92608 15.3258C9.73367 15.3235 9.54985 15.2515 9.41378 15.1252C9.27771 14.9989 9.20016 14.8282 9.19765 14.6496V10.5658C9.19765 10.3865 9.27439 10.2145 9.411 10.0877C9.54761 9.96088 9.73289 9.88965 9.92608 9.88965C10.1193 9.88965 10.3045 9.96088 10.4412 10.0877C10.5778 10.2145 10.6545 10.3865 10.6545 10.5658V14.6406C10.6558 14.7302 10.6379 14.8191 10.6019 14.9021C10.5658 14.9852 10.5124 15.0608 10.4446 15.1246C10.3768 15.1883 10.2961 15.2389 10.2071 15.2735C10.1181 15.308 10.0226 15.3258 9.92608 15.3258ZM13.3837 15.3258C13.1905 15.3258 13.0052 15.2545 12.8686 15.1277C12.732 15.0009 12.6553 14.829 12.6553 14.6496V10.5658C12.6553 10.3865 12.732 10.2145 12.8686 10.0877C13.0052 9.96088 13.1905 9.88965 13.3837 9.88965C13.5769 9.88965 13.7622 9.96088 13.8988 10.0877C14.0354 10.2145 14.1121 10.3865 14.1121 10.5658V14.6406C14.1121 14.8208 14.0357 14.9937 13.8994 15.1219C13.763 15.2502 13.5778 15.3234 13.3837 15.3258Z" fill="#FFF4F4"/>
                        </svg>
                        Delete Product
                    </button>
                </div>
                <hr>

                <div class="in-cart">            
                    <input class="checkbox" type="checkbox" id="items" name="items" value="#">
                    <img class="item-img" src="img/ex-product.png" alt="">
                    <div class="item">
                        <p class="item_name">
                            <a href="#">Product Name</a>
                        </p>
                        <p class="item_price">
                            <span>฿300</span>
                        </p>
                        
                    </div>
                    <span><a href="#">Detail >>>></a></span>
                </div>

                <hr>

                <div class="in-cart">            
                    <input class="checkbox" type="checkbox" id="items" name="items" value="#">
                    <img class="item-img" src="img/ex-product.png" alt="">
                    <div class="item">
                        <p class="item_name">
                            <a href="#">Product Name</a>
                        </p>
                        <p class="item_price">
                            <span>฿300</span>
                        </p>
                    </div>
                    <span><a href="#">Detail >>>></a></span>
                </div>
                <hr>

                <div class="in-cart">            
                    <input class="checkbox" type="checkbox" id="items" name="items" value="#">
                    <img class="item-img" src="img/ex-product.png" alt="">
                    <div class="item">
                        <p class="item_name">
                            <a href="#">Product Name</a>
                        </p>
                        <p class="item_price">
                            <span>฿300</span>
                        </p>
                    </div>
                    <span><a href="#">Detail >>>></a></span>
                </div>
                <hr>

                <div class="in-cart">            
                    <input class="checkbox" type="checkbox" id="items" name="items" value="#">
                    <img class="item-img" src="img/ex-product.png" alt="">
                    <div class="item">
                        <p class="item_name">
                            <a href="#">Product Name</a>
                        </p>
                        <p class="item_price">
                            <span>฿300</span>
                        </p>
                    </div>
                    <span><a href="#">Detail >>>></a></span>
                </div>
                <hr>

                <div class="in-cart">            
                    <input class="checkbox" type="checkbox" id="items" name="items" value="#">
                    <img class="item-img" src="img/ex-product.png" alt="">
                    <div class="item">
                        <p class="item_name">
                            <a href="#">Product Name</a>
                        </p>
                        <p class="item_price">
                            <span>฿300</span>
                        </p>
                    </div>
                    <span><a href="#">Detail >>>></a></span>
                </div>

            </div>
        </div>
    </div>
    
    
</body>
</html>