<!DOCTYPE html>
<html lang="en">
<head>
    <title> OTOP_Home </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/profile_shop.css">
</head>
<body>
    <div class="container">
        <div class="top-banner"></div>
        <div class="nav-bar">
            <div class="logo">OTOP</div>
            <div class="page-bar">
                <div class="cur-page"> > Profile </div>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" viewBox="0 0 448 512">
                        <style> svg{fill:#741D14} </style>
                        <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>
                    </svg>
                </div>
            </div>
            
        </div>
        <div class="content">
            <div class="left-bar">
                <ul class="option">
                    <li class="profile_cur"><a href="#">My Profile</a></li>
                    <li class="profile"><a href="myshop">My Shop</a></li>
                </ul>
            </div>

            <div class="vl"></div>
            
            <div class="option-content">
                <div class="option-name option-same"><p>My Profile</p></div>
                <hr>
                <div class="profile-img">
                    <img src="./img/userprofile.png" alt="user-profile">
                    <input type="button" value="Select Image">
                </div>
                <hr>
                <div class="user-info">
                    <form action="#">
                        <div class="username">
                            <label for="username">Username</label>
                            <input type="text" name="username" value="Username" readonly>
                            <a href="#">Change</a>
                        </div>
                        <div class="user-email">
                            <label for="user-email">Email</label>
                            <input type="text" name="user-email" value="UserEmail" readonly>
                            <a href="#">Change</a>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        <!-- <footer style="height: 100px; position: absolute;">
            <img src="./img/Wave.png" alt="">
        </footer> -->

        <!-- <footer>
            <img src="./img/Wave.png" alt="">
        </footer>
         -->
    </div>
    
    
</body>
</html>